* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Audiowide", sans-serif;
}


body {
    background-image: url('https://plus.unsplash.com/premium_photo-1683309565422-77818a287060?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8cG9ydGZvbGlvJTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D');
    background-repeat: no-repeat;
    background-size: cover;
}
section{
    min-height: 100vh;
    padding:10rem 9% 2rem;
}
    

.header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5%;
    transition: all 0.5s ease;
    background-color: rgba(127, 255, 212, 0.438);

}
.logo {
    font-size: 2rem;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}
.logo:hover{
    transform: scale(1.05);
}
.nav-bar a {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    font-weight: 700;
    margin-left: 4rem;
    transition: 0.3s ease;
}
.nav-bar a:hover {
    color: #de5703;

}
#menu-icon{
    font-size: 3.5rem;
    color: black;
    cursor: pointer;
    display: none;
    }

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-img img {
    width: 20vw;
    border-radius: 50%;
    box-shadow: 0 0 25px white;
    cursor: pointer;
    animation: floatImage 4s ease-in-out infinite;
    transition: 0.4s ease;

}
.home-content{
    margin-left: 1rem;

}
.home-content h3{
    font-size: 1.5rem;
    font-weight: 700;
}
span{
    color: hsl(0, 78%, 45%);
}
.home-content p{
    font-size: 1rem;
}

.btn {
    display: inline-block;
    margin-top:1rem ;
    padding: 1rem 2rem;
    background: #777;
    cursor:pointer ;
    border-radius: 4rem;

}
.btn button:hover {
    color: beige;
}


.prj-details{
    padding-left: 2rem;
    margin-left: 2rem;
}
.project-container {
    margin-left:8.5rem;
    padding-left: 3rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
button {
    padding: 4px;
    color: rgb(195, 17, 17);
    border-radius: 10px;
    cursor: pointer;

}

button:hover {
    background: red;
    color: #0d8b04;
}

.ser-details {
    padding: 30px;
    color: blue;
    font-family: "Trirong", serif;
}

.ser-items {
    padding: 30px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    gap: 2rem;
    color: blue;
    font-family: "Trirong", serif;
}

.btn-1 button {
    padding-top: 1rem;
    background-color: #0d8b04;
    border: 1px solid red;
    color: black;
    cursor: pointer;
}

button:hover {
    background: rgba(232, 144, 2, 0.605);
    color: yellow;
}


h3 {
    margin-top: 2rem;
    padding-left: 30px;
}

.container {
    background-color: seashell;
    border: 2px solid black
}
.contact-details {
    display: grid;
    grid-template-columns: auto;
    padding-top: 1rem;
    padding-left: 30px;
    padding-right: 70rem;
}

.input-field {
    height: 30px;
    margin-bottom: 1rem;
    border: 1px solid #777;
    border-radius: 10px;

}
footer {
    background-color: black;
    color: white;
    text-align: center;
}
footer a {
    color: white;
}

@media screen (max-width :1025px){
    html{
        font-size: 55%;
    }
}

@media screen and (max-width: 1024px)and(min-width: 769px){
    .header{
        padding:2rem 3%;
    }
    section{
        padding:10rem 3%;
    }
}


@media screen and (max-width: 768px) {
    #menu-icon{
        display:block;
    }
.nav-bar{
    position: absolute;
    left:60%;
    top:100%;
    width:225px;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    background:white;
}
.nav-bar a{
    display: block;
    padding: 17px;
    font-size: 22px;
}
.project-container{
    flex-direction: column;
}
}

  


    






        